<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<style type="text/css">
	span.refreshButton { font-size: small; text-align: right; float: right; position: relative; top: 6pt }
	</style>

	<title>Probe - Configuration [%(hostname)s]</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style="font-size: 0.8em"></span> Probe [<tt>%(hostname)s</tt>]</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Status</a></li>
				<li class="active"><a href="#">Configuration</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
		</div>
	</div>
</nav>
<br />
<br />
<br />

<div class="container" style="width: 90%%">
	<h1>Configuration</h1>

	<button class="btn btn-success" onclick="javascript:refresh()">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		Refresh All
	</button>
	<input id="autoRefreshCheckbox" type="checkbox" onclick="javascript:autoRefresh()"> Automatic

	<h3><tt>uname</tt>
		<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refreshUname()"></span>
	</h3>
	<pre><div id="raw_uname"></div></pre>

	<div class="row">
		<div class="col-md-6">
			<h3><tt>ifconfig</tt>
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refreshIfconfig()"></span>
			</h3>
			<pre><div id="raw_ifconfig"></div></pre>
		</div>
		<div class="col-md-6">
			<h3><tt>mount</tt>
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refreshMount()"></span>
			</h3>
			<pre><div id="raw_mount"></div></pre>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script>
		function refreshUname() { $('#raw_uname').load('/raw/uname'); }
		function refreshIfconfig() { $('#raw_ifconfig').load('/raw/ifconfig'); }
		function refreshMount() { $('#raw_mount').load('/raw/mount'); }

		function refresh() {
			refreshUname();
			refreshIfconfig();
			refreshMount();
		}

		function autoRefresh() {
			refresh();
			if ($('#autoRefreshCheckbox').prop('checked')) {
				setTimeout(autoRefresh, 5000);
			}
		}

		refresh();
	</script>
</div>
</body>
</html>