<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<title>Probe - %(hostname)s</title>
</head>
<body>
<div class="container" style="width: 90%%">
	<h1>Probe - %(hostname)s Configuration</h1>

	<button class="btn btn-success" onclick="javascript:refresh()">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		Refresh
	</button>

	<form action="/" style="display: inline; padding-left: 20px">
	<button class="btn btn-primary" onclick="javascript:refresh()">
		<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
		Status
	</button>
	</form>

	<h3>uname</h3><pre><div id="raw_uname"></div></pre>

	<div class="row">
		<div class="col-md-6">
			<h3>ifconfig</h3><pre><div id="raw_ifconfig"></div></pre>
		</div>
		<div class="col-md-6">
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script>
		function refresh() {
			$('#raw_uname').load('/raw/uname');
			$('#raw_ifconfig').load('/raw/ifconfig');
		}

		refresh();
	</script>
</div>
</body>
</html>