<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

	<title>Probe - %(title)s [%(hostname)s]</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style="font-size: 0.8em"></span> Probe [<tt>%(hostname)s</tt>]</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">Status</a></li>
				<li class="active"><a href="#">Help</a></li>
				<li><a href="/admin">Admin</a></li>
			</ul>
		</div>
	</div>
</nav>
<br />
<br />
<br />

<div class="container" style="width: 90%%">
	<h1>%(title)s</h1>
	<h3>JSON API's</h3>
	<ul>
		<li><a href="/json/hardware">Hardware</a></li>
		<li><a href="/json/status">Status</a></li>
	</ul>
</div>
</body>
</html>