<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

	<style type="text/css">
	span.refreshButton { font-size: small; text-align: right; float: right; position: relative; top: 6pt }
	</style>

	<title>Probe - {{ title }} [{{ hostname }}]</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true" style="font-size: 0.8em"></span> Probe [<tt>{{ hostname }}</tt>]</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Status</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
		</div>
	</div>
</nav>
<br />
<br />
<br />

<div class="container">
	<h1>{{ title }}</h1>

	<button class="btn btn-success" onclick="javascript:refresh()">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		Refresh All
	</button>
	<input id="autoRefreshCheckbox" type="checkbox" onclick="javascript:autoRefresh()"> Automatic

	<div class="row">
		<div class="col-md-6">
			<h3>Globals
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refresh()"></span>
			</h3>
			<table class="table table-condensed table-striped">
				<tr><th>Local Time</th><td><span id="localTime"></span></td></tr>
				<tr><th>Uptime (s)</th><td><span id="uptime"></span></td></tr>
				<tr><th>Entropy Available (bits)</th><td><span id="entropyAvailable"></span></td></tr>
			</table>

			<h3>CPU <span id="cpuInfo"></span>
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refresh()"></span>
			</h3>
			<table class="table table-condensed table-striped">
				<tr><th>Use (%)</th><td><span id="cpuPercent"></span></td></tr>
				<tr><th colspan="2">Stats</th></tr>
				<tr><td>Context Switches</td><td><span id="cpuStatsContextSwitches"></span></td></tr>
				<tr><td>Interrupts</td><td><span id="cpuStatsInterrupts"></span></td></tr>
				<tr><td>Soft Interrupts</td><td><span id="cpuStatsSoftInterrupts"></span></td></tr>
				<tr><td>Syscalls</td><td><span id="cpuStatsSyscalls"></span></td></tr>
				<tr><th colspan="2">Times (s)</th></tr>
				<tr><td>User</td><td><span id="cpuTimesUser"></span></td></tr>
				<tr><td>System</td><td><span id="cpuTimesSystem"></span></td></tr>
				<tr><td>Nice</td><td><span id="cpuTimesNice"></span></td></tr>
				<tr><td>Idle</td><td><span id="cpuTimesIdle"></span></td></tr>
			</table>

		</div>
		<div class="col-md-6">
			<h3>Memory
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refresh()"></span>
			</h3>
			<table class="table table-condensed table-striped">
				<tr><th>Total (GB)</th><td><span id="memoryTotal"></span></td></tr>
				<tr><th>Used (GB)</th><td><span id="memoryUsed"></span></td></tr>
				<tr><th>Free (GB)</th><td><span id="memoryFree"></span></td></tr>
				<tr><th>Available (GB)</th><td><span id="memoryAvailable"></span></td></tr>
			</table>

			<h3>Disk IO
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refresh()"></span>
			</h3>
			<table class="table table-condensed table-striped">
				<tr><th></th><th>Read</th><th>Write</th></tr>
				<tr><th>#</th><td><span id="diskIoReadCount"></span></td><td><span id="diskIoWriteCount"></span></td></tr>
				<tr><th>Bytes</th><td><span id="diskIoReadBytes"></span></td><td><span id="diskIoWriteBytes"></span></td></tr>
				<tr><th>Time</th><td><span id="diskIoReadTime"></span></td><td><span id="diskIoWriteTime"></span></td></tr>
			</table>

			<h3>Network IO
				<span class="glyphicon glyphicon-refresh refreshButton" aria-hidden="true" onclick="javascript:refresh()"></span>
			</h3>
			<table class="table table-condensed table-striped">
				<tr><th></th><th>In</th><th>Out</th></tr>
				<tr><th>Bytes</th><td><span id="networkBytesIn"></span></td><td><span id="networkBytesOut"></span></td></tr>
				<tr><th>Packets</th><td><span id="networkPacketsIn"></span></td><td><span id="networkPacketsOut"></span></td></tr>
				<tr><th>Drops</th><td><span id="networkDropsIn"></span></td><td><span id="networkDropsOut"></span></td></tr>
				<tr><th>Errors</th><td><span id="networkErrorsIn"></span></td><td><span id="networkErrorsOut"></span></td></tr>
			</table>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function refresh() {
			$.getJSON('/api/status', function(status) {
				$('#localTime').text(status.time);
				$('#uptime').text(status.uptime);
				$('#entropyAvailable').text(status.entropyAvailable);

				var n = 2;
				var GB = 1024 * 1024 * 1024;
				$('#memoryTotal').text((status.virtualMemory.total / GB).toFixed(n));
				$('#memoryUsed').text((status.virtualMemory.used / GB).toFixed(n));
				$('#memoryFree').text((status.virtualMemory.free / GB).toFixed(n));
				$('#memoryAvailable').text((status.virtualMemory.available / GB).toFixed(n));

				var cpuFrequencyStr = status.cpuFrequencyMhz === null ? "" :
					" @ " + status.cpuFrequencyMhz.current + "MHz";
				$('#cpuInfo').text("(" + status.cpuCores.toString() + " cores" + cpuFrequencyStr + ")");

				$('#cpuPercent').text(status.cpuPercent);
				$('#cpuStatsContextSwitches').text(status.cpuStats.contextSwitches);
				$('#cpuStatsInterrupts').text(status.cpuStats.interrupts);
				$('#cpuStatsSoftInterrupts').text(status.cpuStats.softInterrupts);
				$('#cpuStatsSyscalls').text(status.cpuStats.syscalls);
				$('#cpuTimesUser').text(status.cpuTimes.user);
				$('#cpuTimesSystem').text(status.cpuTimes.system);
				$('#cpuTimesNice').text(status.cpuTimes.nice);
				$('#cpuTimesIdle').text(status.cpuTimes.idle);

				$('#diskIoReadCount').text(status.diskIoCounters.readCount);
				$('#diskIoReadBytes').text(status.diskIoCounters.readBytes);
				$('#diskIoReadTime').text(status.diskIoCounters.readTime);
				$('#diskIoWriteCount').text(status.diskIoCounters.writeCount);
				$('#diskIoWriteBytes').text(status.diskIoCounters.writeBytes);
				$('#diskIoWriteTime').text(status.diskIoCounters.writeTime);

				$('#networkBytesIn').text(status.network.bytesReceived);
				$('#networkBytesOut').text(status.network.bytesSent);
				$('#networkPacketsIn').text(status.network.packetsReceived);
				$('#networkPacketsOut').text(status.network.packetsSent);
				$('#networkDropsIn').text(status.network.dropsIn);
				$('#networkDropsOut').text(status.network.dropsOut);
				$('#networkErrorsIn').text(status.network.errorsIn);
				$('#networkErrorsOut').text(status.network.errorsOut);
			});
		}

		function autoRefresh() {
			refresh();
			if ($('#autoRefreshCheckbox').prop('checked')) {
				setTimeout(autoRefresh, 5000);
			}
		}

		refresh();
	</script>
</div>
</body>
</html>