<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<title>Probe [%(hostname)s]</title>
</head>
<body>
<div class="container" style="width: 90%%">
	<h1>Probe [<tt>%(hostname)s</tt>]</h1>

	<button class="btn btn-success" onclick="javascript:refresh()">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
		Refresh All
	</button>
	<input id="autoRefreshCheckbox" type="checkbox" onclick="javascript:autoRefresh()"> Automatic

	<form action="/configuration" style="display: inline; padding-left: 20px">
	<button class="btn btn-info">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		Configuration
	</button>
	</form>

	<form action="/help" style="display: inline; padding-left: 20px">
	<button class="btn btn-warning">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		Help
	</button>
	</form>

	<div class="row">
		<div class="col-md-6">
			<h3>
				<tt>date</tt>
				<button class="btn btn-success" onclick="javascript:refreshDate()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3>
			<pre><div id="raw_date"></div></pre>

			<h3><tt>uptime</tt>
				<button class="btn btn-success" onclick="javascript:refreshUptime()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3>
			<pre><div id="raw_uptime"></div></pre>

			<h3><tt>df</tt>
				<button class="btn btn-success" onclick="javascript:refreshDf()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3>
			<pre><div id="raw_df"></div></pre>

			<h3><tt>iostat</tt>
				<button class="btn btn-success" onclick="javascript:refreshIostat()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3>
			<pre><div id="raw_iostat"></div></pre>

			<h3><tt>netstat</tt> (UDP)
				<button class="btn btn-success" onclick="javascript:refreshNetstatUdp()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3>
			<pre><div id="raw_netstat_udp"></div></pre>
		</div>
		<div class="col-md-6">
			<h3><tt>netstat</tt> (TCP)
				<button class="btn btn-success" onclick="javascript:refreshNetstatTcp()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
			</h3><pre><div id="raw_netstat_tcp"></div></pre>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script>
		function refreshDate() { $('#raw_date').load('/raw/date'); }
		function refreshUptime() { $('#raw_uptime').load('/raw/uptime'); }
		function refreshDf() { $('#raw_df').load('/raw/df'); }
		function refreshIostat() { $('#raw_iostat').load('/raw/iostat'); }
		function refreshNetstatTcp() { $('#raw_netstat_tcp').load('/raw/netstatTcp'); }
		function refreshNetstatUdp() { $('#raw_netstat_udp').load('/raw/netstatUdp'); }

		function refresh() {
			refreshDate();
			refreshUptime();
			refreshDf();
			refreshIostat();
			refreshNetstatUdp();
			refreshNetstatTcp();
		}

		function autoRefresh() {
			refresh();
			if ($('#autoRefreshCheckbox').prop('checked')) {
				setTimeout(autoRefresh, 5000);
			}
		}

		refresh();
	</script>
</div>
</body>
</html>